/**
Intentionally not BEM and not SASS because the thing needs it's own design.
 */
#ed .row {
  margin: auto;
}
.editor--left-col {
  min-height: 100vh !important;
}

.editor__components {
  padding: 0;
  list-style: none;
}

/*position: absolute;*/
/*bottom: -20px;*/
/*right: -20px;*/
